*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
    
}
.fullview{
    width:100vw;
}
.header{
   
    display: flex;
    flex-direction: row;
    justify-content : space-around;
    align-items: center;

    margin-top: 64px;
}


html{
    overflow-x: hidden;   /*cuts everything outside*/
    width:100vw;
}

body{
    background-color: #DBDBDB;
    overflow-x: hidden;
    width:100vw;

}

a.change{
    color:#666699
}

.topics{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding-left: 40px;
    width: 750px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-shadow: -.5px 1px 4px #000000;

}


.logo{
    align-self: start;
}   

.items{
    padding-left: 30px;
}



.topics a{
    background-color: white;
    font-weight: bold;
    padding : 5px 8px;
    font-size: 13px;
    text-decoration: none;
    color:#000000;

}

.items .closebtn {
    display: none;

  }


.line {

    margin-left: 30px;
    margin-right: 30px;
    width: 400px;
    opacity: 0.7;
    border: 1px solid #000000;
    box-shadow: .1px .1px 1px #000000;
  }

.Social{
    
    display:flex;
    align-items: center;
    
}
.Social a{
    
    padding : 10px 20px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 30px;
    background-color: rgba(102, 102, 153, 0.5);
    margin: 5px 0; 
    width: 100vw;
    align-items: center;
}


.subHeader{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    width:97%;
    

}
.notification{

    border: 1px solid rgba(102, 102, 153, 0.5);
    padding : 5px ;
    border-radius: 30px;
    width: 300px;
    margin : 30px 50px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding : 0 12px;
    
    
}

.searchImage{
  
    width: 100px;
    height: 50px;
    background-image: url('./images/search-icon 1.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;    


}

.bell{
    padding-top: 5px;
}
.line2 {

    margin-left: 50px;
    margin-right: 30px;
    opacity: 0.7;
    border: 1px solid #000000;
    box-shadow: .1px .1px 1px #000000;
  }

.about{
    
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    margin-left: 80px;
    gap:10px
    
  }

.about a{
    border: 1px solid #666699;
    padding : 10px 20px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50px;
    background-color: #666699;
    color : hsl(0, 0%, 100%);
    
}

.images{
   
    padding : 0 60px 20px 60px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.ai{
    float: left;
    width: 500px;
    height: 600px;
    object-fit: cover;
    border-radius: 40px;
}
.crypto {
    width: 700px;
  
}

.container1{
    position: relative;
   
}
.text-block {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.199);
    color: white;
    padding: 0 20px 20px 55px;
    border-radius: 0px 0px 40px 40px;
    font-size: 30px;
    text-align: start;

  }

  .div-bg{

    background-image: url('./images/Rectangle 20.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;

  }
  .image2text{
    color : white;
  }

  .text-image-2{

    padding: 25px 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 40px 40px;
    font-size: 40px;
  }

  .container3{
    width: 500px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.801);
    display: flex;
    flex-direction: column;
    color : #FFFFFF;
    padding : 0 20px 0 20px;
    border-radius: 32px;
  }

.Header1{
    display: flex;
    flex-direction: row;
    justify-content : space-evenly;
    padding : 10px 0px;
    margin-bottom: 20px;
  
}
.Header1items a{
   
    padding : 1px 8px;
    font-size: 10px;
}

.over{
    height: 35px;
    width: 35px;
    border-radius: 50px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.shiba{
 
    border-radius: 30px;
    background-color: #666699;
}
.ShibaNameLogo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.Header2{

    margin-top: 20px;
}
.inu{
    font-size: 20px;
    padding-left: 5px;
}

.inc{
    font-size: 12px;
    padding-left: 38px;

}
.Line1{
    margin-top: 3px;
    width: 350px;
    opacity: 0.7;

  }

.Header3{
    
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
  }

p{
    color: #FFFFFF ;
}

.silver{
    color:rgba(255, 255, 255, 0.70);
}
span{
    font-size: 10px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.70);
}

.arrowValue{
    display: flex;
    flex-direction: row;
}

.Header4{
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.70);
    padding-left: 5px;
}



.Line2{
    margin-top: 10px;
    width: 350px;
    opacity: 0.7;
    
  }


.parametersone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.70);
    
}
.column1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.Line3{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 350px;
    opacity: 0.7;
  }

.Header6{
    margin-bottom: 25px;
}

.trading-activity{

    width: 300px;
}

.slider{
    width: 420px;
    height: 8px;
    background: rgba(255, 255, 255, 0.549);
    position:relative;
    border-radius: 10px;
    
}
.slider:before {
    content:'';
    background:#4040c1;
    width: 350px;
    height: 8px;
    position:absolute;    
    border-radius: 10px;
}

.buysell{
    width: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.date{
    margin-top: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
 }

 .small{
    font-size: 10px;
 }

 @media screen and (max-width: 1367px){

 .header{
    margin-top: 50px;
    
    width:98%;
}


.topics{
    width: 600px;
    margin-left: 10px;    
}

.Dropdown {
    position: relative;
    display: inline-block;
  }
  
.Dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
 .Dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.Dropdown-content a:hover {
    background-color: #4040c175;}
  
.Dropdown:hover .Dropdown-content {
    display: flex;
    flex-direction: column;}
  
  .Dropdown:hover .change {background-color: #d9d9d9af;}
.topics a{
    font-size: 12px;

}


.line {

    margin-left: 20px;
    margin-right: 20px;
    width: 150px;
  }

.searchspace{
    
    display: flex;
    flex-direction: row;
    
}
.searchImage{
    border:1px solid red;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.search-wrap{
    position: relative;
    width:80%;
   
  }
  #searchIcon {
   
    position: absolute;
    top: 20px;
    left:220px
  }


  .searchImage:hover{
    cursor:pointer;
  }
  #searchIcon.hide{
    display:none;
  }
  #search {
    
    background-color: rgb(245, 238, 255);
    border: solid 3px rgba(102, 102, 153, 0.5);
    border-radius: 50px;
    width: 0%;
    font-size: 20px;
    display: flex;
    visibility: hidden;
    padding: 0px 20px 0px 40px;
    margin-top: 30px;
    margin-bottom: 40px;
    transition: .5s;  
  }
  #search.visible{
    width:100%;
    visibility: visible;
  }
  #clear {  
    width: 0%;  
    display: flex;
    position: absolute;
    right: 0px;
    top: 10px;
    opacity:0;
    transition:.51s;
    margin-top: 25px;
    margin-bottom: 40px;
  }
  #clear.visible{
    opacity:1;
    
  }
  #clear:hover {
    cursor: pointer;
  }

.bell{
    padding-top: 5px;
}
.line2 {

    width:92%

  }

.about a{
    padding : 12px 22px;
    font-size: 12px;
    
}

.images{
    
    padding : 0 40px 20px 25px;
    
}

.container1 {
    animation: imageone 5s ease-out -3s  normal;
  }
@keyframes imageone{
    0%   { left:0px; top:0px;}
    50%  { left:-200px; top:200px;}
    90%  { left:5px; top:5px;}
    100% { left:0px; top:0px;}
  }
.container1 {
    position: relative;
    padding: 0;
    width: 390px;
    display: block;
    cursor: pointer;
    
  }

  .text-block {
    opacity: 0;
    height: 550px;
    border-radius: 40px 40px 40px 40px;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    padding-left: 30px;
    background-color: rgba(15, 15, 15, 0.418);
    
  }
  .container1 .text-block:hover {
    opacity: 1;
  }
  .container1 .text-block .text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
  }
  .container1 .text-block:hover .text {
    opacity: 1;
    transform: translateY(250px);
    -webkit-transform: translateY(390px);
  }
 .ai{
    float: left;
    width: 390px;
    height: 550px;
    object-fit: cover;
} 
.container2 {
    animation: imagetwo 5s ease-out -3s  normal;
  }
@keyframes imagetwo{
    0%   { left:0px; top:0px;;}
    50%  { left:0px; top:-200px;}
    90%  { left:0px; top:5px;}
    100% { left:0px; top:0px;}
  }
.container2 {
    position: relative;
    padding: 0;
    width: 480px;
    display: block;
    cursor: pointer;
    
  }
.text-image-2 {
    opacity: 0;
    height: 550px;
    border-radius: 40px 40px 40px 40px;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    padding-left: 30px;
    background-color: rgba(15, 15, 15, 0.26);
    padding: 0px 10px 25px 30px;
    font-size: 35px;
  }
  .container2 .text-image-2:hover {
    opacity: 1;
  }
  .container2 .text-image-2 .image2text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
  }
  .container2 .text-image-2:hover .image2text {
    opacity: 1;
    transform: translateY(250px);
    -webkit-transform: translateY(370px);
  }


.changeImage {
    animation: imagethree 5s ease-out -3s  normal;
  }
@keyframes imagethree{
    0%   { left:0px; top:0px; }
    50%  { left:200px; top:200px;}
    90%  { left:5px; top:5px; }
    100% { left:0px; top:0px; }
  }
.crypto {
    width: 480px;
    object-fit: contain;
  
}

.changeImage {
    width: 390px;
    height: 550px;
    position: relative;
    display: flex;
}

.shiba-bg{
    width: 390px;
    height: 550px;
    padding : 0 0px 0 0px;
    border-radius: 32px;
   
}
.changeImage .container3 {
    display: none; 
    position: absolute;
    background-color: rgba(0, 0, 0, 0.80);
    top: 0;
    left: 0;
 
}


.changeImage:hover .container3 {
    display: flex;
    width: 390px;
    height: 550px;

}

.changeImage:hover .shiba-bg {
   display: none;
}


.Header1{
   
    display: flex;
    flex-direction: row;
    justify-content : space-evenly;
    padding : 10px 0px;
    margin-bottom: 20px;
  
}
.Header1items a{
   
    padding : 1px 8px;
    font-size: 10px;
}

.over{
    height: 35px;
    width: 35px;
    border-radius: 50px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.shiba{
 
    border-radius: 30px;
    background-color: #666699;
}
.ShibaNameLogo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.Header2{
    margin-top: -10px;
}


.Line1{
    margin-top: 3px;
    width: 350px;
    opacity: 0.7;

  }

.Header3{
    
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
  }

p{
    color: #FFFFFF ;
}

.silver{
    color:rgba(255, 255, 255, 0.70);
}
span{
    font-size: 10px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.70);
}

.arrowValue{
    display: flex;
    flex-direction: row;
}

.Header4{
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.70);
    padding-left: 5px;
}


.Header5{
    font-size: 15px;
}
.Line2{
    margin-top: 15px;
    width: 350px;
    opacity: 0.7;
    
  }


.column1{
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.Line3{
    margin-top: 18px;
  }

.Header6{
    margin-bottom: 20px;
}


.slider{
    width: 320px;
    
}
.slider:before {
    content:'';
    background:#4040c1;
    width: 250px;

}

.buysell{
    width: 320px;
    display: flex;

}
.date{
    margin-top: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
 }

 .small{
    font-size: 10px;
 }
}


@media screen and (max-width: 768px){

    .header{
        display: flex;
        flex-direction: column;
        width: 100vw;
       
    }
    .logo{
        display: none;
        /* padding-top: 5px;
        align-self: center; */
    }
    .topics{
        margin-left: 2px;
        padding-left: 10px;
        padding-bottom: 5px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items:left;
    

    }
    .line{
        display: none;
    }
    #main{
      
        width: 100px;
        height: 50px;
        background-image: url('images/sidebar-2.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;    
    

    }
    .items{
    
        height: 100%;
        margin-left: -100vw;
        width: 100vw;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(143, 143, 158);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 50px;
        padding-left:20px;
        
      }
      
      .items a {
        background-color: rgb(143, 143, 158);
        color:#ffffff;
        text-decoration: none;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
      }
      
      .items .closebtn {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 36px;
        display: block;
    
      }
      


    .Social{
        margin: 30px 0px 2px 0px;
        
    }
    .Social a{
    
        display:flex;
        flex-direction: column;
        border-radius: 0px;
        
    }

    .subHeader{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        align-items: center;
        font-weight: 600;
        width:97vw;
    }
    .searchImage{

        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;    
  
        
    }

    .notification{
       
        border-radius: 30px;
        width: 100vw;
        margin : 30px 100px 30px 10px; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding : 5px 10px;
        
    }

    .bell{
        padding-right:10px;
    }

    .about{
    
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 0px;
      }

    .images{
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
        width:100vw;
        padding: 0px 0px 0px 0px;

    }

    .ai{
        width: 100vw;
        height: 600px;
    }

    .text-block {
       
        padding: 10px 20px 20px 25px;
        border-radius: 0px 0px 90px 40px;
        font-size: 25px;
        text-align: start;
    
      }

    .container3{
        width:100vw;
    }
    .date{
        margin-top: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: end;
     }
     
     .slider{
        width: 80vw;
        
    }
    .slider:before {
        width: 60vw;
    }
    
    .buysell{
        width: 420px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 15px;
    }
}


